* {
    padding: 0;
    margin: 0;
}

#inp1 {
    width: 200px;
    height: 39px;
    border-radius: 5px;
}

#inp2 {
    width: 100px;
    height: 39px;
    border-radius: 5px;
}

#inp3 {
    width: 110px;
    height: 39px;
    border-radius: 5px;
}

#btn {
    width: 70px;
    height: 39px;
    border-radius: 5px;
    background-color: #D9534F;
}

.div {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

